
Dicho_online/.vs/Dicho_online/v14/.suo
Dicho_online/Dicho_online/bin/Dicho_online.dll
Dicho_online/Dicho_online/bin/Dicho_online.pdb
Dicho_online/Dicho_online/bin/Dicho_online.pdb
Dicho_online/Dicho_online/bin/Dicho_online.dll
Dicho_online/Dicho_online/obj/Debug/Dicho_online.dll
Dicho_online/Dicho_online/obj/Debug/Dicho_online.pdb
Dicho_online/Dicho_online/Web.config

Dicho_online/Dicho_online/Views/web.config