
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta http-equiv="refresh" content="5; url=Index">
<h2>Your account has been created. Thank you for using our services. We will redirect you to login page shortly. </h2>
