@model IPagedList<Dicho_online.Models.Products>
@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .wrapper {
    }

    .item {
        display: inline-block;
        border: 1px solid black;
    }

    .pagination > li a {
        color: blue;
    }

    #ddl-sort {
        padding-bottom: 20px;
    }
</style>

<!---->
<div id="ddl-sort">
    BEST SELLER
    <select onchange="">
        <option disabled selected hidden>Sort by...</option>
        <option value="asc">Price ascending</option>
        <option value="des">Price descending</option>
    </select>
</div>

<div class="wrapper">
    @{
        
    }
    
        @foreach (var item in Model)
        {
            <div class="item">
                <img src="http://www.vegetables.co.nz/assets/Uploads/vegetables.jpg" width="200px" />
                <div class="detail">
                    @Html.DisplayFor(modelItem => item.CompanyName)<br />
                    @Html.DisplayFor(modelItem => item.ProductName)<br />
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </div>
            </div>
            }
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page
}))
